.projects{
    padding: 28px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    justify-self: center;
    text-align: start;
    margin-top: 2rem;
    width: 80%;
    

    h2{
        font-size: 2em;
        color: var(--primary-light);
    }

    
    
}
