.projectItem {
  display: flex;
  flex-direction: column;
  column-gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 30rem;
  border: 1px solid var(--primary-light-transparent);
  border-radius: 0.5em;
  padding: 1rem;
  margin: 1rem;
  background-color: #222;
  position: relative;
  height: auto;

  &::before {
    content: "";
    transition: 0.5s ease-in-out;
    border-radius: 6px;
    width: 0px;
    height: 0px;
    position: absolute;
    top: -2px;
    right: -2px;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
  }
  &::after {
    content: "";
    transition: 0.5s ease-in-out;
    border-radius: 6px;
    width: 0px;
    height: 0px;
    position: absolute;
    bottom: -2px;
    left: -2px;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
  }
  &:hover::before {
    width: 100%;
    height: 100%;
    border-top: 2px solid var(--gold);
    border-right: 2px solid var(--gold);
  }
  &:hover::after {
    width: 100%;
    height: 100%;
    border-bottom: 2px solid var(--gold);
    border-left: 2px solid var(--gold);
  }

  .image {
    width: 16rem;
    height: 10rem;
    margin: 2rem;
    border: 3px solid var(--primary-light-transparent);
    border-radius: 0.5em;

    img {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
  }

  .description {
    display: flex;
    width: 100%;
    flex-direction: column;
    row-gap: 1rem;
    gap: 1rem;
    height: auto;

    .plus {
      display: flex;
      margin-right: 2rem;
      justify-content: space-between;
      align-items: center;
    }
  }
}
@media (max-width: 769px) {
  .projectItem {
    width: 86%;
    margin: auto;
    margin-bottom: 2rem;

    .description {
      height: auto;
    }

    .image {
      width: 70%;
      height: 30%;
      margin-top: 2rem;

      img {
        width: 100%;
        margin: 0;
        padding: 0;
      }
    }
  }
}

