:root{
    --primary-background: #131515;
    --secondary-background: #30312B;
    --primary-text: #FFFFD3;
}

body{
    background-color: var(--primary-background);
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, span, p, button, input, div{
    font-family: 'roboto', sans-serif;
    color: var(--primary-text);
}