:root{
    --primary: #131515;
    --secondary: #30312B;
    --primary-light: #FFFFD3;
}

body{
    background-color: var(--primary);
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, span, p, button, input{
    font-family: 'roboto', sans-serif;
    color: var(--primary-light);
    margin: 0;
}